body {
  background: #0769AD;
}

.container {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	box-shadow: inset 0 0 5px rgba(0,0,0, 0.4), rgba(255,255,255,0.1) 0 1px 0;
	border-radius: 4px;
	border: 1px solid transparent;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.76);
	width: 100%;
	height: 110px;
	padding: 8px;
	box-sizing: border-box;
}

.container div {
  width: 100%;
	height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.box {
	color: #fff;
  text-decoration: none;
	letter-spacing: .05em;
	display: inline-block;
	background: #333;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
}

.animate {
  position: absolute;
  top: 0;
  left: 0;
}

.tween {
  position: absolute;
  top: 50px;
  left: 0;
}