
body {
    padding: 20px;
    background-color: rgba(220, 220, 220, 1);
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #ddd;
    background-color: rgba(248, 248, 248, 1);
    width: 48px;
    height: 48px;
    margin-top: -24px;
    margin-left: -24px;
}
